<!doctype html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="stylesheets/main.css">
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="scripts/app.js"></script>
	<script src="scripts/controllers/maincontroller.js"></script>
	<script src="scripts/services/d3.js" charset="utf-8"></script>
</head>
<body ng-app="gratefulDead">
	<div  ng-controller="MainController">
		<h1>Grateful Dead Mockup</h1>
		<div ng-if="currentView == SHOW_VIEW">
			<h2>{{ selectedShow.title }}</h2>
			<h3><a ng-href="#" ng-click="gotoLocationView(selectedShow.coverage)">{{selectedShow.coverage}}</a></h3>
			<h3>{{ selectedShow.venue }}</h3>
			<img ng-src="{{selectedShow.ticket}}" onerror="this.style.display='none'"/>
			<img ng-src="{{selectedShow.pass}}" onerror="this.style.display='none'"/>
			<img ng-src="{{selectedShow.poster}}" onerror="this.style.display='none'"/>
			<div ng-repeat="s in selectedShow.setlist">
				<a ng-if="s.inSampleSongs" ng-href="#" ng-click="gotoSongView(s.plainTitle)">{{s.title}}</a>
				<a ng-if="!s.inSampleSongs">{{s.title}}</a>
			</div>
		</div>
		<div ng-if="currentView == SONG_VIEW">
			<h2>{{ selectedSong.name }}</h2>
			<div ng-repeat="v in selectedSong.versions">
				<a ng-href="#" ng-click="gotoShowView(v.identifier)">{{v.title}}</a>
				<!--button ng-click="play()">Play</button-->
			</div>
		</div>
		<div ng-if="currentView == LOCATION_VIEW">
			<h2>{{ selectedLocation.name }}</h2>
			<div ng-repeat="s in selectedLocation.shows">
				<a ng-href="#" ng-click="gotoShowView(s.identifier)">{{s.title}}</a>
			</div>
		</div>
	</div>
</body>
</html>