* {
	margin: 0;
	padding: 0;
}

html, body { 
	height: 100%; 
	max-width: 100%; 
}

h1, h2, h3, body, button, input, select {
	font-family: Avenir Next;
	font-size: 16px;
	text-align: left;
	font-weight: 300;
	
	padding:5px 10px;
	color: #757575;
	
}

h1 { font-size: 250%; }

h2 { font-size: 200%; font-weight: 400; }

h3 { font-size: 120%; font-weight: 350; }

body { text-align: left; 
	 margin: 1cm ;
 background-color: #121212; }

button, input, select {
	-moz-border-radius:12px;
	-webkit-border-radius:12px;
	border-radius:12px;
	border:1px solid #eeeeee;
	display:inline-block;
	/*cursor:pointer;
	padding:5px 5px;*/
}

a { text-decoration:none }

#navlist li
{
  display: inline;
  list-style-type: none;
}

select {
	-webkit-appearance: none;
}

button:hover {
	background-color:#eeeeee;
}

#map_canvas {
    position: relative;
}

.angular-google-map,
.angular-google-map-container {
  

  height: 300px;
}

/**
 * Checkbox Five
 */
.checkboxFive {
	width: 25px;
	margin: 20px 100px;
	position: relative;
}

/**
 * Create the box for the checkbox
 */
.checkboxFive label {
	cursor: pointer;
	position: absolute;
	width: 25px;
	height: 25px;
	top: 0;
  	left: 0;
	background: #eee;
	border:1px solid #ddd;
}

/**
 * Display the tick inside the checkbox
 */
.checkboxFive label:after {
	opacity: 0.2;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 6px;
	left: 7px;
	border: 3px solid #333;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}


.videoContainer { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    /* background: url(sections/index/video.jpg) no-repeat; */
    background-size: cover; 
}
.videoContainer video {
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    z-index: -100;
}
.videoContainer .overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    background: black;
    opacity: 0.7;
}

.centered {
  /*  transition: 150ms; */
  position: fixed;
  top: 50%;
  left: 50%;
  opacity: 0.2;
  transform: translate(-50%, -50%); 
  /* transform: translate(-50%, -50%) scale(1); */
}

.centered:hover {
	/*  transition: 150ms; */
    opacity: 0.4;
	/* transform: translate(-50%, -50%) scale(1.05); */

}

.centeredf {
  position: fixed;
  top: 50%;
  left: 50%;
  opacity: 0.2;
  transform: translate(-50%, -50%);
}

#img_scroll {
    position: relative;
    /*border: 2px solid #757575;
    border-radius: 3px;*/
}

ul.images {
  margin: 0;
  padding: 0;
  white-space: nowrap;
  /* width: 1000px; */
  overflow-x: auto;
  background-color: #151515;
}
ul.images li {
  display: inline;
}

#flex_align {
  display: flex;
}
#flex_narrow {
  width: 500px;
  padding-left: 10px;
  /*background-color: #151515;
  opacity: 0.8;*/
  
/*  border: 3px solid #757575;
  border-radius: 2px; */
  
}
#flex_wide {
  flex: 1;
/*   border: 2px solid #757575;
  border-radius: 3px; */
}

.padit {
	padding: 0px 8px;
}


a:link {
    color: #757575;
}

a:visited {
    color: #999999;
}
